<!DOCTYPE html>
<html>
<head>
    <title>AI_Web_Asystent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>AI_Web_Asystent</h1>
        <div id="chat-window" class="chat-window">
        </div>
        <form method="POST" id="query-form" class="chat-input-form">
            <input type="text" name="question" id="question" placeholder="Wpisz pytanie..." required>
            <button type="submit">Wyślij</button>
        </form>
       
        <button id="speak-btn">Mów</button> 
         
        <div id="uptime">Czas działania: 0s  </div>
        <div> <button id="reset-btn">Resetuj</button> </div>
        <div id="chat-window"></div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
